<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.customercare.tcc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".view.controller.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.controller.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".view.controller.InsertLeadActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.LeadsActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.UpdateLeadActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.ViewLeadActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.ConvertLeadActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>


        <activity android:name=".view.controller.ContasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.UpdateContasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.InsertContasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.ViewContaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".view.controller.MetricasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.ViewMetricasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.InsertMetricasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.UpdateMetricasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".view.controller.ContatosActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.ViewContatoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.InsertContatoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.ListInsertContasToContatoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.UpdateContactActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".view.controller.CampanhasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.ViewCampanhaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".view.controller.TarefasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.InsertTarefasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.ViewTarefaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.UpdateTarefasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".view.controller.OportunidadesActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.InsertOportunidadesActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.ViewOportunidadeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.UpdateOportunidadesActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".view.controller.VendasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.VendasTotalOppActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.VendasPipelineActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.VendasGanhosPerdasSemanalActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".view.controller.VendasGanhosPerdasMensalActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".view.controller.VisitasActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".view.controller.ViewVisitaActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>
